# CMake build files.
#
build/

# Compiler/linker output.
#
*.t
*.i
*.ii
*.exp
*.pdb
*.ilk
*.exe.dlls/
*.exe.manifest
*.pc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio stuff
.vs/
*.suo